:root {
  --cardbackgroundcolor: #f2f2f2;
}

/*=============================================
=       bootstrap icon custom size            =
=============================================*/

i {
  font-size: 1.4rem;
}

/*=====  End of bootstrap icon custom size  ======*/

/*=============================================
=            post section                     =
=============================================*/
.post-user {
  padding: 20px;
  background: var(--cardbackgroundcolor);
}

.post-input {
  resize: none;
  border: none;
  background: var(--cardbackgroundcolor);
}

.community {
  margin-top: 100px;
  margin-bottom: 50px;
}

#username {
  font-size: 1.2rem;
}
#date {
  font-size: 0.7rem;
}
#content {
  font-size: 0.9rem;
}

@media screen and (max-width: 380px) {
  #post-label {
    font-size: 0.7rem;
  }
}
/*=====  End of post section          ======*/

/*=============================================
=            post list section                =
=============================================*/

.post-box {
  background-color: var(--cardbackgroundcolor);
  padding: 20px;
}

button[role='button'] {
  width: max-content;
  height: max-content;
}

/*=====  End of post list section      ======*/

/*=============================================
=            profile page                     =
=============================================*/

.profile-avatar img {
  top: -100px;
}

/*=====  End of profile page           ======*/

/*=============================================
=            toast animation                  =
=============================================*/

.toast-fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/*=====  End of toast animation         ======*/
