<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green World Aware | Tentang kami</title>
    <!-- CDN bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <!-- render navbar -->
    <header></header>
    <!-- end of navbar -->
    <!-- Modal -->
    <div id="successLoginModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Apakah yakin logout</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Ya</button>
            <button type="button" class="btn btn-primary stay" data-bs-dismiss="modal">tidak</button>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>

    <!-- start main content -->
    <div class="container p-4 m-auto">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5 my-5">
          <h1 class="text-body-emphasis">Tentang Kami</h1>
          <p class="col-lg-8 mx-auto fs-5">
            GreenWorldWare adalah sebuah website yang berisikan tentang atikel, video edukasi, kuis seputar dampak pencemaran lingkungan dan tempat bagi para pengguna website berkontribusi untuk membagikan kegiatannya tentang peduli
            lingkungan seperti langkah-langkah apa yang dapat diambil oleh masyarakat dan pemerintah untuk mengatasi masalah sampah dan lain-lain.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 py-0">
          <img src="https://ik.imagekit.io/alzirahmana/Asset%20-%20mobile%20responsive%20web/hero-aboutus.png?updatedAt=1697193730049" alt="Image" class="w-100" />
        </div>
        <div class="col-sm-6">
          <div class="">
            <h2 class="text-lg py-3">Visi</h2>
            <p class="fs-5">
              Visi kami adalah menciptakan dunia di mana lingkungan alam dapat berkembang dengan seimbang, tanpa terpengaruh oleh pencemaran dan kerusakan yang tidak perlu. Kami ingin melihat generasi masa depan menikmati alam yang indah,
              udara bersih, air yang sehat, dan lingkungan yang lestari.
            </p>
          </div>
          <div class="">
            <h2 class="text-lg py-3">Misi</h2>
            <ol class="fs-5">
              <li>
                Pendidikan dan Kesadaran: Kami berupaya meningkatkan kesadaran masyarakat tentang pentingnya menjaga kebersihan lingkungan. Kami menyelenggarakan seminar, lokakarya, dan kampanye pendidikan untuk memberikan pengetahuan dan
                keterampilan yang diperlukan untuk bertindak secara bertanggung jawab terhadap lingkungan.
              </li>
              <li>
                Aksi Lingkungan: Kami tidak hanya berbicara, kami juga bertindak. Kami secara aktif terlibat dalam proyek-proyek pembersihan dan pelestarian lingkungan. Mulai dari membersihkan pantai hingga penanaman pohon, kami bekerja
                bersama komunitas lokal untuk menciptakan perubahan nyata.
              </li>
              <li>Inovasi Berkelanjutan: Kami selalu mencari solusi inovatif untuk permasalahan lingkungan. Dengan bekerja sama dengan ahli lingkungan dan teknologi, kami berusaha mengembangkan produk dan layanan yang ramah lingkungan.</li>
              <li>
                Kemitraan dan Kolaborasi: Kami percaya bahwa perubahan besar hanya bisa dicapai melalui kerja sama. Kami bekerja sama dengan organisasi lingkungan, pemerintah, bisnis, dan masyarakat sipil untuk mencapai tujuan bersama.
              </li>
              <li>
                Keterbukaan dan Akuntabilitas: Kami bertanggung jawab atas tindakan kami dan selalu berusaha untuk tetap terbuka terhadap umpan balik dari masyarakat. Kami ingin memastikan bahwa setiap tindakan kami berkontribusi pada
                keberlanjutan dan kebersihan lingkungan.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="container py-5 text-center mt-5">
      <div class="row py-lg-5">
        <div class="col mx-auto">
          <h2 class="py-3 text-lg-center">Temui Tim</h2>
        </div>
      </div>
      <div class="row justify-content-center gap-3">
        <div class="card shadow-lg" style="width: 23rem">
          <img src="https://ik.imagekit.io/alzirahmana/Asset%20-%20mobile%20responsive%20web/male.png?updatedAt=1697361198103" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title fw-medium fs-4">Hamzah Raihan Ikhsanul Fikri</h3>
            <p class="card-text">Fullstack Web Development</p>
          </div>
        </div>
        <div class="card shadow-lg" style="width: 23rem">
          <img src="https://ik.imagekit.io/alzirahmana/Asset%20-%20mobile%20responsive%20web/female.png?updatedAt=1697361198326" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title fw-medium fs-4">Yumitha Septyandari</h3>
            <p class="card-text foo">Fullstack Web Development</p>
          </div>
        </div>
        <div class="card shadow-lg" style="width: 23rem">
          <img src="https://ik.imagekit.io/alzirahmana/Asset%20-%20mobile%20responsive%20web/male.png?updatedAt=1697361198103" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title fw-medium fs-4">Alzi Rahmana Putra</h3>
            <p class="card-text">Fullstack Web Development</p>
          </div>
        </div>
      </div>
    </section>

    <!-- start contact us -->
    <section class="contact-us my-5">
      <div class="headline-contact">
        <h2>Kontak Kami</h2>
      </div>
      <form id="form">
        <div class="personal-info">
          <input type="text" id="name" placeholder="nama" />

          <input type="text" id="city" placeholder="kota" />
        </div>

        <input type="email" id="email" placeholder="email" />

        <input type="text" id="zip-code" placeholder="zip-code" />

        <div class="form-check">
          <label for="" id="check"> Dengan ini saya menyatakan data yang diisi pada form ini adalah benar dan telah sesuai </label>
          <input type="checkbox" id="status" />
        </div>
        <button class="btn-primary" id="submit-form" type="submit">Submit</button>
        <div id="warning"></div>
      </form>
    </section>
    <!-- end of contact us -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../js/component/navbar.js"></script>
    <script src="../js/component/footer.js"></script>
  </body>
</html>
