<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green World Aware | Tentang kami</title>
    <!-- CDN bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <!-- render navbar -->
    <header></header>
    <!-- end of navbar -->

    <div class="overlay"></div>
    <!-- start sidebar -->
    <aside>
      <div class="sidebar"></div>
    </aside>
    <!-- end of start sidebar -->
    <!-- start main content -->
    <div class="container p-4 m-auto">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5 my-5">
          <h1 class="text-body-emphasis">Tentang Kami</h1>
          <p class="col-lg-8 mx-auto lead">Website "GreenWorldAware" adalah sebuah platform yang didedikasikan untuk meningkatkan kesadaran tentang lingkungan dan mempromosikan gaya hidup berkelanjutan.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://ik.imagekit.io/alzirahmana/Asset%20-%20mobile%20responsive%20web/hero-aboutus.png?updatedAt=1697193730049" alt="Image" class="img-fill p-4 w-100" />
        </div>
        <div class="col-md-6">
          <div class="">
            <h2 class="text-lg py-3">Visi</h2>
            <p>
              Visi kami adalah menciptakan dunia di mana lingkungan alam dapat berkembang dengan seimbang, tanpa terpengaruh oleh pencemaran dan kerusakan yang tidak perlu. Kami ingin melihat generasi masa depan menikmati alam yang indah,
              udara bersih, air yang sehat, dan lingkungan yang lestari.
            </p>
          </div>
          <div class="">
            <h2 class="text-lg py-3">Misi</h2>
            <ol>
              <li>
                Pendidikan dan Kesadaran: Kami berupaya meningkatkan kesadaran masyarakat tentang pentingnya menjaga kebersihan lingkungan. Kami menyelenggarakan seminar, lokakarya, dan kampanye pendidikan untuk memberikan pengetahuan dan
                keterampilan yang diperlukan untuk bertindak secara bertanggung jawab terhadap lingkungan.
              </li>
              <li>
                Aksi Lingkungan: Kami tidak hanya berbicara, kami juga bertindak. Kami secara aktif terlibat dalam proyek-proyek pembersihan dan pelestarian lingkungan. Mulai dari membersihkan pantai hingga penanaman pohon, kami bekerja
                bersama komunitas lokal untuk menciptakan perubahan nyata.
              </li>
              <li>Inovasi Berkelanjutan: Kami selalu mencari solusi inovatif untuk permasalahan lingkungan. Dengan bekerja sama dengan ahli lingkungan dan teknologi, kami berusaha mengembangkan produk dan layanan yang ramah lingkungan.</li>
              <li>
                Kemitraan dan Kolaborasi: Kami percaya bahwa perubahan besar hanya bisa dicapai melalui kerja sama. Kami bekerja sama dengan organisasi lingkungan, pemerintah, bisnis, dan masyarakat sipil untuk mencapai tujuan bersama.
              </li>
              <li>
                Keterbukaan dan Akuntabilitas: Kami bertanggung jawab atas tindakan kami dan selalu berusaha untuk tetap terbuka terhadap umpan balik dari masyarakat. Kami ingin memastikan bahwa setiap tindakan kami berkontribusi pada
                keberlanjutan dan kebersihan lingkungan.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/component/navbar.js"></script>
    <script src="../js/component/footer.js"></script>
  </body>
</html>
